/* reset */
* {
    margin: 0;
    padding: 0;
    color: #333;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}

#wrap {
    width: 100%;
}


/* HEADER */
header {
  width: 98%;
  height: 35px;
  z-index: 99999;
  float: left;
  margin: 10px 0;

  position: fixed;
  top: 0;
  left: 50%;
  translate: -50%;
  transition: 0.4s; /* Adds a transition effect when the padding is decreased */
}
header nav {
  border-radius: 10px;
  background: rgba(204, 204, 204, 0.5);
  overflow: hidden;
  padding: 10px 10px;
  transition: 0.4s; /* Adds a transition effect when the padding is decreased */
}
header nav ul {
  height: 35px;
  line-height: 2rem;

  display: flex;
  column-gap: 20px;
  justify-content: space-between;
  align-items: center;
  align-items: flex-end;
  padding: 0 2rem;
}

header nav ul li {
  float: left;
  
}
header nav ul li:hover {
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
}
header nav ul li a {
  font-size: 0.8rem;

}
header nav ul #logo a {
background: #ccc;
border-radius: 50%;
padding: 4px 10px;
}

/* GNB menu hover motion */
/* @-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
} */


/* When header on scroll */
/* 
The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* 
Add some top padding to the page content to prevent sudden quick movement 
(as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}


/* -------------------------------------------------------------------------- */


/* FOOTER */
#footer {
    display: flex;
    /* justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row; */
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 5vw;
    margin: 3vw 9vw;
    /* margin: 50px 20px 0; */
}

div h6 {
    margin-bottom: 10px;
}

#contact p {
    font-size: 2rem;
    display: inline;
    font-family: 'Italiana', serif;
}
#contact p:nth-of-type(2) {
    font-size: 0.5rem;
    margin: 10px 0 0;
    color: #aaa;
    display: block;
}


#info ul li {
    margin: -2px 0;
}

#info ul li a {
    font-size: 0.8rem;
    color: #333;
}


/* Tooltip container */
.tooltip {
    position: relative;
    display: inline;
    
    font-size: 2rem;
}
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    /* width: 120px; */
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 8px 15px;
    border-radius: 6px;
    font-size: 0.8rem;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 80%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }


  /* tooltip button */
#button .tooltiptext input{
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;    
}



/* Dropdown Button */
.dropbtn {
    background-color: #fff;
    color: #333;
    padding: 10px 15px;
    font-size: 12px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #fafafa;
    border: 1px solid #ddd;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fefefe;
    min-width: 190px;
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 12px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 6px 15px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #eee;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}
  